:root {
  --greyblu: rgba(68, 88, 119, 1);
  --lightblu: rgba(146, 204, 206, 1);
  --gry: rgba(49, 52, 61, 1);
  --blk: rgba(28, 29, 33, 1);
  --wht: rgba(238, 238, 247, 1);
}

body {
    background-color: var(--wht);
    font-family: 'Trebuchet MS',;
    color: var(--blk);
    margin: 0%;
}
/* overall header body */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gry);
    height: auto;
    position: relative;
    padding: 15px 0px;
  }
  /* name within header */
header h1 {
    color: var(--gry);
    background-color: var(--lightblu);
    font-size: 50px;
    text-align: end;   
    
}
/* navbar clickable links */
nav a {
    color: var(--lightblu);
    text-decoration: underline 5px;
    font-size: 30px ;
    text-underline-offset: 8px;
    padding: 9px 0px ;
    margin: 0 15px ;
    transition: 1s;
}
  
nav li {
    display: inline;
 }
/* how links act when hovered over */
nav a:hover {
    background-color: var(--lightblu);
    color: var(--gry);
    text-decoration-color: var(--lightblu);
    cursor: pointer;
 }
/* decoration image */
#topimg{
     position: relative;
 }

#topimg img {
    height: 15em;
    width: 100%;
}
/* text within decoration image */
#topimg p {
    position: absolute;
    color: black;
    background-color: var(--wht);
    font-size: 40px ;
    bottom: 8px;
    right: 16px;
    border-radius: 10% ;
    font-family:monospace;
    margin: 0;
    opacity: .5;
}
/* container main content */
main {
    position: relative;
    width: 100%;
    color: var(--greyblu);
}

#about{
    width: 100%;
    display: flex;
    height: auto;
    padding: 20px 0;
}

#abody {
    border-right: 4px solid var(--greyblu);
    text-align: end;
    font-size: 45px;
    width: auto;
}

#abody h2 {
    margin: 0;
    padding: 0 17px 0 139px;
}

#ap {
    padding: 0px 7% 0 60px;
    font-size: 25px;
}

#work {
    width: 100%;
    display: flex;
    padding: 20px 0;
    height: auto;
    position: relative;
}

#workh {
    width: auto;
    border-right: 4px solid var(--greyblu);
    text-align: end;
    font-size: 60px;
}

#workh h3{
    margin: 0 15px 0 0 ;
    padding: 0 0 0 150px;
}

#workimgs{
   width: 100%;
   height: auto;
   padding: 0px 3% 30px 60px;
   position: relative;
}

#biggerimg {
    width: 57.8em;
    height: 20em;
    max-width: 100%;
    max-height:100% ;
    border: 6px solid var(--lightblu);
}

#bigboy p {
    position: absolute;
    color: black;
    background-color: var(--lightblu);
    top: 80px;
    font-size: 100px;
    width: auto;
    max-width: 20em;
    max-height: auto;
    margin-left: 6px;
}

#bigboy p:hover{
    color: var(--greyblu);
    background-color: var(--wht);
    opacity: .8;
}

#images {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
}

.right {
    margin-left: 15px;
} 

#images img {
    height: 20rem;
    border: 6px solid var(--lightblu);
    width: 28.05em;
    margin: 10px 0px 0px 0px;
    max-width: 100%;
    max-height:100%;
}


.imgtxt {
    position: absolute;
    color: black;
    background-color: var(--lightblu);
    font-size: 50px ;
    top: 150px;
    margin-left:6px ;
}

.imgtext {
    position: absolute;
    color: black;
    background-color: var(--lightblu);
    font-size: 50px ;
    top: 500px;
    margin-left:6px 
}

#images div p:hover{
    color: var(--greyblu);
    background-color: var(--wht);
    opacity: .8;
}

#contact {
    display: flex;
    width: 100%;
    height: auto;
    padding: 30px 0 60px 0;
    position: relative;
}

#conbod {
    padding: 0px 10px 0px 30px;
    text-align: end;
    font-size: 50px;
    border-right: 4px solid var(--greyblu);
    width: auto;
}

#conbod h3 {
        margin: 0 0px 0 0 ;
        padding: 0 0px 0 91px;
}

#list {
    margin: 20px;
    width: 92em;
    height: auto;
}

#list ul {
    color: var(--greyblu);
    margin-bottom: 100px ;
    text-underline-offset: 9px;
    justify-content: space-between;
    line-height: 2;
}

#list li {
    padding: 5px 10px;
    font-size: 30px;
    display: inline;
    text-decoration: underline 5px;
    margin: 0px 12px ;
}

#list li a{
    color: var(--greyblu);
}

#list li:hover {
    background-color: var(--lightblu);
    color: var(--gry);
    text-decoration-color: var(--wht)
}

#list li a:hover {
    background-color: var(--lightblu);
    color: var(--gry);
    text-decoration-color: var(--wht);  
}

@media only screen and (max-width: 1040px) {
    body {
        margin: 0%;
        padding: 0%;
    }
    
    header {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
        line-height:1.5;
    }

    header h1 {
        display: block;
        text-align: center;
        padding: 20px;
    }

    nav {
        display: block;
        text-align: center;
    }

    main {
        position: relative;
    }

    #about {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
    }

    #abody {
        text-align: center;
        border-right: 0px;
        padding-right: 120px;
        border-bottom: 3px solid var(--greyblu);
        margin: 3%;
    }

    #ap {
        text-align: center;
    }

    #work {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
    }

    #workh {
        text-align: center;
        border-right: 0px;
        padding-right: 120px;
        border-bottom: 3px solid var(--greyblu);
        margin: 3%;
    }

    #workimgs {
        position: relative;
        width: auto;
        align-items: center;
    }

    #workimgs img {
        width: 90%;
        height: 10em;
        max-width: 100%;
        max-height:100%;
    }

    #biggerimg{
        width: 20em;
    }

    #bigboy p {
        font-size: 50px;
        top:15px
    }

    #images {
        display: flex;
        flex-direction: column;
    }

    .right {
        margin: 0;
    }
    #imgtext1 {
        position: absolute;
        top: 25px;
    }

    #imgtext2 {
        position: absolute;
        top: 210px;
    }

    #imgtext3 {
        position: absolute;
        top: 400px;
    }

    #imgtext4{
        position: absolute;
        top: 580px;
    }

    #contact {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
    }

    #conbod {
        text-align: center;
        border-right: 0px;
        padding-right: 120px;
        border-bottom: 3px solid var(--greyblu);
        margin: 3%;
    }

    #list {
        width: auto;
        height: auto;
        text-align: center;
    }
}